.painelDeTarefas {
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto; 
  width: 90%; /* Define uma largura máxima para o bloco, ex: 90% */
  max-width: 1200px;
  margin-top: -60px;
}

.coluna1 {
  background-color: gray;
  width: 30%;
  float: left;
  margin-right: 5%;  
  display: flex;
  justify-content: center;
}

.coluna2 {
  background-color: gray;
  width: 30%;
  float: left;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.coluna3 {
  background-color: gray;
  width: 30%;
  float: left;
  display: flex;
  justify-content: center;
}

.tarefa{
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

