.cabecalho {
    background-color: #f5f5f5;
    padding: 20px;
}

.botaoNovaTarefa {
    background-color: rgba(0, 0, 0, 0.864);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    float: right;
    margin-top: -5%;
    margin-right: 3%;
    cursor: pointer;
}